html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.top-hero {
    height: 100vh;
    display: flex;
    background-color: #f6f6f6;

}

.left-box {
    width: 55%;
    height: 100vh;
    text-align: center;
}

.left-box p {
    font-family: "Montserrat", serif;
    font-weight: normal;
    font-size: 18px;
    color: #8c52ff;
    margin-top: 120px;
}

.left-box h1 {
    font-family: 'Bogart', sans-serif;
    font-weight: normal;
    font-size: 115px;
    color: #8c52ff;
}

.same-line {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.right-box {
    width: 45%;
    height: 100vh;
}

.right-box img {
    width: 100%;
    height: 100%;
}

.text-skill {
    margin-top: 70px;
    text-align: center;
}

.text-skill h1{
    font-family: "bogart", serif;
    font-weight: normal;
    font-size: 65px;
    margin-bottom: 0;
    color: #8c52ff;
}

.text-skill p{
    font-family: "Montserrat", serif;
    font-size: 20px;
    font-weight: normal;
}

.flex-container-1st-row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    flex-wrap: wrap;
}

.flex-item {
    width: 241px;
    height: 198px;
    background-color: #f6f6f6;
}

.flex-container-2nd-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
    flex-wrap: wrap;
}


